<a href="https://colab.research.google.com/github/ndow33/DS-Unit-4-Sprint-2-Neural-Networks/blob/main/module4-Hyperparameter-Tuning/LS_DS_434_Hyperparameter_Tuning_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Hyperparameter Tuning

## *Data Science Unit 4 Sprint 2 Assignment 4*

## Your Mission, should you choose to accept it...

To hyperparameter tune and extract every ounce of accuracy out of this telecom customer churn dataset: [Available Here](https://lambdaschool-data-science.s3.amazonaws.com/telco-churn/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv)

## Requirements

- Load the data
- Clean the data if necessary (it will be)
- Create and fit a baseline Keras MLP model to the data.
- Hyperparameter tune (at least) the following parameters:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (if applicable to optimizer)
 - momentum (if applicable to optimizer)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
 You must use Grid Search and Cross Validation for your initial pass of the above hyperparameters
 
 Try and get the maximum accuracy possible out of this data! You'll save big telecoms millions! Doesn't that sound great?

In [39]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# clean the data

In [40]:
# Load the data
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Lambda/NLP/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv')
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [41]:
# use .describe() to explore the data
df.describe(include='all')

        customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
count         7043   7043    7043.000000  ...    7043.000000         7043   7043
unique        7043      2            NaN  ...            NaN         6531      2
top     8313-KTIHG   Male            NaN  ...            NaN         20.2     No
freq             1   3555            NaN  ...            NaN           11   5174
mean           NaN    NaN       0.162147  ...      64.761692          NaN    NaN
std            NaN    NaN       0.368612  ...      30.090047          NaN    NaN
min            NaN    NaN       0.000000  ...      18.250000          NaN    NaN
25%            NaN    NaN       0.000000  ...      35.500000          NaN    NaN
50%            NaN    NaN       0.000000  ...      70.350000          NaN    NaN
75%            NaN    NaN       0.000000  ...      89.850000          NaN    NaN
max            NaN    NaN       1.000000  ...     118.750000          NaN    NaN

[11 rows x 21 columns]

In [42]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [43]:
# change totalcharges to a float
# check for nan's
df['TotalCharges'].isna().value_counts()

False    7043
Name: TotalCharges, dtype: int64

In [44]:
# replace the ' ' with 0.0 and turn the rest of the strings into floats
counter = 0

for x in df['TotalCharges']:
  if x == ' ':
    y = 0
    df['TotalCharges'][counter] = float(y)
    counter = counter + 1 
  else:
    y = float(x)
    df['TotalCharges'][counter] = y
    counter = counter + 1

type(df['TotalCharges'][488])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

float

In [45]:
type(df['TotalCharges'][480])

float

In [46]:
# check for nan's throughout the dataframe
features = ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 
            'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 
            'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 
            'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 
            'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']
            
categoricals = ['gender', 'Partner', 'Dependents', 
            'PhoneService', 'MultipleLines', 'InternetService', 
            'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 
            'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 
            'PaymentMethod', 'Churn']

for feature in features:
  print(f'{feature}: ', df[feature].isna().value_counts())

customerID:  False    7043
Name: customerID, dtype: int64
gender:  False    7043
Name: gender, dtype: int64
SeniorCitizen:  False    7043
Name: SeniorCitizen, dtype: int64
Partner:  False    7043
Name: Partner, dtype: int64
Dependents:  False    7043
Name: Dependents, dtype: int64
tenure:  False    7043
Name: tenure, dtype: int64
PhoneService:  False    7043
Name: PhoneService, dtype: int64
MultipleLines:  False    7043
Name: MultipleLines, dtype: int64
InternetService:  False    7043
Name: InternetService, dtype: int64
OnlineSecurity:  False    7043
Name: OnlineSecurity, dtype: int64
OnlineBackup:  False    7043
Name: OnlineBackup, dtype: int64
DeviceProtection:  False    7043
Name: DeviceProtection, dtype: int64
TechSupport:  False    7043
Name: TechSupport, dtype: int64
StreamingTV:  False    7043
Name: StreamingTV, dtype: int64
StreamingMovies:  False    7043
Name: StreamingMovies, dtype: int64
Contract:  False    7043
Name: Contract, dtype: int64
PaperlessBilling:  False    7043
Name: PaperlessBilling, dtype: int64
PaymentMethod:  False    7043
Name: PaymentMethod, dtype: int64
MonthlyCharges:  False    7043
Name: MonthlyCharges, dtype: int64
TotalCharges:  False    7043
Name: TotalCharges, dtype: int64
Churn:  False    7043
Name: Churn, dtype: int64

# one hot encode the categorical variables

In [47]:
!pip install category_encoders==2.*
import category_encoders as ce

Requirement already satisfied: category_encoders==2.* in /usr/local/lib/python3.6/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.0.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.16.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders==2.*) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.8.1)

In [48]:
df['gender'][1] == 'Male'

True

In [49]:
# gender
counter = 0
for x in df['gender']:
  if x == 'Male':
    df['gender'][counter] = 0
    print(counter)
  if x == 'Female':
    df['gender'][counter] = 1
    print('female')
  counter = counter + 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Streaming output truncated to the last 5000 lines.
2044
female
female
2047
2048
female
female
female
female
2053
female
2055
2056
female
2058
2059
2060
2061
female
2063
female
female
2066
2067
2068
female
female
female
2072
2073
female
2075
female
female
2078
2079
2080
female
2082
female
2084
female
2086
female
female
female
female
female
2092
2093
female
2095
female
2097
2098
female
2100
female
2102
2103
female
female
2106
2107
female
2109
female
2111
female
2113
2114
female
2116
female
female
2119
female
2121
female
2123
2124
female
2126
2127
2128
2129
2130
2131
2132
female
female
female
2136
2137
female
female
female
2141
female
2143
2144
2145
female
2147
2148
female
2150
2151
female
female
female
female
female
2157
female
female
female
female
2162
2163
2164
female
female
2167
2168
female
female
female
female
2173
female
female
2176
2177
2178
female
2180
female
2182
2183
female
2185
2186
2187
female
2189
2190
female
2192
2193
2194
female
female
2197
female
2199
female
female
2202
2203
2204
2205
2206
female
female
2209
female
female
2212
female
female
female
female
female
female
2219
2220
female
2222
female
2224
2225
female
2227
female
2229
2230
2231
2232
2233
2234
female
2236
2237
female
female
female
female
2242
female
female
female
female
female
2248
female
female
2251
female
2253
2254
female
female
female
2258
female
female
female
female
female
2264
2265
2266
female
female
female
female
female
2272
2273
2274
2275
female
2277
female
2279
female
female
2282
2283
2284
2285
2286
2287
female
female
female
female
female
2293
2294
2295
2296
female
2298
female
female
female
2302
2303
2304
2305
female
female
2308
2309
2310
female
2312
2313
female
2315
2316
female
female
2319
2320
female
female
female
female
female
female
female
female
female
2330
female
female
female
2334
2335
2336
female
2338
female
female
female
female
female
female
female
female
2347
2348
2349
female
female
2352
2353
2354
2355
2356
female
female
2359
2360
female
2362
2363
2364
2365
female
female
female
2369
2370
female
2372
female
2374
female
2376
2377
female
2379
2380
2381
female
2383
2384
female
female
2387
female
2389
female
2391
2392
female
2394
female
female
2397
female
female
female
2401
2402
female
female
female
female
female
female
2409
female
2411
female
2413
female
female
2416
2417
female
female
2420
2421
2422
female
female
2425
female
2427
2428
2429
2430
2431
female
2433
female
female
female
female
female
2439
2440
female
2442
female
female
female
female
2447
female
2449
female
2451
2452
female
female
female
2456
2457
2458
2459
female
female
2462
2463
female
2465
2466
2467
2468
female
female
female
2472
female
female
female
2476
2477
2478
2479
2480
2481
female
2483
2484
female
female
2487
2488
female
2490
female
2492
female
2494
female
2496
female
2498
2499
2500
2501
female
2503
2504
female
female
2507
female
female
2510
2511
female
2513
female
female
female
2517
2518
2519
female
2521
2522
female
2524
2525
2526
female
female
2529
female
female
female
2533
2534
female
2536
2537
2538
female
female
female
2542
2543
female
female
female
female
2548
2549
female
female
female
2553
female
female
2556
2557
female
2559
2560
female
2562
2563
2564
female
female
2567
2568
female
2570
female
female
female
2574
female
female
female
female
2579
female
2581
female
female
female
female
female
2587
female
2589
female
female
female
female
female
female
female
2597
female
female
female
female
female
female
female
female
female
2607
2608
2609
female
2611
female
female
female
female
2616
female
2618
female
2620
2621
2622
female
2624
2625
female
female
female
2629
2630
2631
female
female
2634
2635
female
female
2638
2639
2640
female
female
female
2644
female
2646
female
2648
female
female
2651
2652
female
2654
female
female
female
female
female
2660
female
2662
female
2664
2665
2666
female
2668
female
female
2671
2672
2673
female
2675
female
female
2678
2679
2680
2681
2682
female
2684
female
2686
2687
2688
female
2690
female
female
2693
2694
2695
female
female
2698
female
female
female
2702
female
female
female
2706
2707
female
2709
female
female
2712
2713
female
2715
female
female
2718
female
2720
2721
2722
2723
2724
female
2726
2727
female
female
2730
female
female
female
2734
2735
female
2737
female
female
female
2741
2742
2743
female
2745
female
2747
2748
2749
2750
female
2752
female
2754
2755
female
female
2758
2759
2760
female
2762
2763
2764
2765
female
female
female
female
2770
female
female
2773
2774
2775
2776
2777
female
2779
female
2781
2782
female
female
female
2786
2787
2788
female
female
2791
female
2793
female
female
female
2797
2798
2799
female
female
2802
female
2804
female
2806
2807
2808
2809
female
female
2812
2813
female
2815
female
female
2818
female
2820
2821
female
2823
2824
2825
female
2827
2828
2829
2830
female
2832
female
2834
female
2836
female
female
female
female
2841
female
female
female
female
female
female
2848
female
2850
female
2852
female
2854
2855
2856
female
female
2859
2860
female
2862
2863
2864
female
female
female
2868
female
2870
2871
female
2873
female
2875
2876
female
2878
2879
2880
female
female
2883
female
2885
female
2887
female
2889
female
female
2892
2893
female
female
2896
2897
female
2899
female
female
female
2903
2904
female
female
2907
2908
female
female
female
2912
2913
2914
female
2916
2917
2918
2919
female
2921
female
2923
2924
female
female
2927
2928
2929
2930
female
2932
2933
female
2935
2936
female
2938
2939
2940
2941
2942
2943
2944
2945
female
2947
2948
female
2950
2951
female
female
female
2955
2956
female
female
2959
2960
2961
female
female
2964
2965
female
2967
2968
female
2970
female
2972
female
2974
2975
2976
2977
2978
2979
female
2981
2982
2983
female
female
female
female
2988
2989
2990
female
2992
2993
2994
female
female
2997
2998
2999
3000
3001
3002
3003
3004
female
3006
female
female
3009
3010
female
3012
female
3014
3015
female
female
3018
female
3020
3021
female
3023
3024
3025
female
female
3028
3029
3030
female
3032
female
3034
female
3036
3037
female
3039
3040
3041
3042
female
female
female
female
female
female
female
female
female
3052
3053
female
3055
3056
3057
female
female
3060
3061
3062
female
female
3065
female
3067
3068
female
female
3071
female
female
female
3075
female
3077
female
female
3080
3081
3082
3083
3084
3085
3086
female
3088
female
3090
female
female
3093
female
3095
female
3097
3098
female
female
female
female
female
3104
3105
female
female
female
3109
female
3111
3112
3113
3114
female
female
female
3118
female
female
female
3122
3123
3124
3125
female
female
3128
3129
3130
female
3132
3133
female
female
female
female
female
3139
3140
3141
3142
3143
3144
female
female
female
female
female
3150
3151
female
female
female
3155
female
3157
3158
3159
female
3161
3162
3163
3164
3165
3166
female
female
3169
3170
female
3172
female
3174
3175
female
3177
3178
female
female
female
female
3183
female
female
female
3187
female
female
3190
3191
3192
female
female
female
female
female
3198
female
3200
female
3202
female
3204
female
female
female
3208
female
female
female
3212
female
3214
3215
female
female
3218
female
3220
3221
3222
3223
female
female
3226
3227
3228
female
3230
female
3232
3233
female
female
3236
3237
female
3239
female
3241
3242
female
3244
female
3246
female
3248
female
3250
female
3252
female
3254
female
3256
3257
3258
female
3260
female
female
female
female
3265
female
3267
3268
3269
female
3271
3272
3273
female
female
female
3277
female
3279
3280
3281
3282
female
3284
3285
3286
3287
female
female
female
female
female
female
female
female
female
female
female
3299
female
female
3302
female
3304
3305
female
female
female
female
female
female
3312
3313
female
3315
female
3317
3318
female
3320
female
female
female
female
3325
3326
3327
female
female
3330
3331
3332
3333
female
3335
female
female
female
female
female
female
3342
female
3344
female
female
3347
female
female
3350
female
female
3353
female
female
female
female
3358
3359
3360
female
female
3363
female
3365
3366
3367
female
female
female
female
3372
female
female
female
female
3377
3378
female
3380
female
3382
3383
female
3385
female
female
female
3389
3390
3391
female
3393
3394
3395
female
female
female
female
3400
female
female
female
female
female
female
female
female
female
3410
3411
3412
female
female
female
3416
female
3418
3419
female
female
female
3423
3424
female
3426
female
3428
female
3430
3431
female
3433
female
3435
3436
female
3438
3439
female
female
3442
3443
3444
female
female
3447
3448
female
3450
3451
3452
female
female
3455
female
female
female
female
female
female
3462
3463
female
3465
3466
3467
3468
female
3470
female
female
3473
3474
female
3476
female
female
female
3480
female
3482
female
female
3485
3486
female
3488
female
3490
3491
female
3493
female
3495
3496
female
3498
female
female
female
3502
3503
3504
3505
3506
3507
female
3509
female
3511
3512
3513
3514
3515
3516
3517
3518
3519
female
female
3522
female
female
female
3526
3527
3528
3529
female
female
female
female
female
3535
female
3537
3538
3539
female
female
3542
3543
3544
female
3546
3547
3548
3549
3550
female
3552
3553
female
3555
3556
female
3558
3559
3560
3561
3562
3563
3564
3565
female
female
female
3569
3570
female
female
female
female
3575
female
3577
female
3579
female
3581
female
3583
3584
3585
3586
3587
3588
3589
female
female
female
3593
female
female
female
3597
3598
female
3600
female
female
3603
3604
3605
female
female
3608
female
female
3611
3612
3613
3614
3615
female
female
3618
female
3620
female
female
3623
female
female
3626
female
3628
3629
female
female
female
female
3634
female
female
3637
female
female
3640
female
female
female
3644
female
3646
3647
female
3649
3650
female
female
3653
female
female
3656
female
female
3659
3660
female
female
female
3664
3665
female
female
3668
3669
female
female
female
3673
female
female
3676
female
3678
3679
3680
3681
3682
3683
3684
3685
female
3687
female
female
female
female
female
female
female
female
female
female
female
female
3700
female
female
3703
female
female
3706
3707
3708
3709
3710
female
3712
3713
3714
3715
female
3717
female
3719
female
female
3722
female
3724
female
3726
female
3728
3729
female
3731
female
female
female
female
female
female
3738
3739
female
3741
female
3743
3744
3745
female
female
3748
3749
female
3751
3752
3753
3754
3755
3756
female
female
3759
3760
female
3762
3763
female
female
female
3767
female
female
female
3771
3772
female
3774
3775
3776
female
3778
3779
3780
3781
female
female
3784
3785
3786
female
3788
3789
3790
3791
female
female
3794
3795
female
3797
3798
female
female
female
3802
3803
3804
3805
female
3807
female
3809
3810
3811
3812
3813
3814
female
3816
female
female
3819
3820
female
female
3823
3824
female
3826
female
female
3829
3830
3831
female
3833
female
female
female
female
female
female
3840
3841
female
3843
female
3845
female
3847
female
female
3850
female
3852
3853
female
3855
3856
3857
3858
female
3860
female
3862
3863
female
female
female
female
female
3869
female
3871
3872
female
female
3875
3876
female
3878
3879
3880
3881
3882
female
female
female
female
3887
female
3889
female
3891
female
female
female
3895
female
female
female
female
female
3901
female
3903
3904
female
female
3907
female
3909
female
3911
female
3913
3914
female
3916
3917
3918
female
3920
female
3922
3923
female
female
3926
3927
female
3929
female
female
female
3933
female
female
3936
female
female
female
3940
3941
3942
3943
female
female
female
female
female
female
3950
3951
female
female
3954
3955
female
3957
3958
3959
female
female
female
female
female
female
3966
female
female
3969
3970
female
3972
female
3974
female
female
3977
3978
3979
3980
female
3982
3983
female
3985
3986
female
3988
female
3990
female
female
female
female
3995
3996
female
3998
female
female
4001
4002
female
4004
4005
4006
4007
female
4009
female
female
female
female
female
female
female
female
female
4019
4020
female
female
4023
female
4025
4026
female
4028
female
female
female
4032
4033
4034
4035
female
female
female
4039
4040
4041
4042
4043
female
female
female
female
female
female
4050
female
female
4053
female
4055
female
female
female
female
4060
female
female
female
female
4065
4066
female
female
4069
4070
female
4072
4073
4074
4075
4076
female
4078
female
female
female
4082
female
female
female
female
female
4088
female
female
female
female
female
4094
4095
female
4097
4098
female
4100
4101
4102
4103
4104
female
female
female
4108
4109
4110
female
female
4113
female
4115
female
4117
female
4119
4120
4121
4122
4123
female
4125
4126
4127
4128
4129
female
female
female
4133
female
female
4136
female
female
4139
female
female
female
4143
4144
female
4146
4147
female
4149
4150
female
4152
4153
4154
female
4156
4157
4158
female
4160
4161
female
4163
4164
4165
4166
female
4168
female
4170
4171
female
female
female
4175
4176
4177
4178
4179
female
female
female
4183
4184
female
4186
female
female
female
female
female
4192
4193
female
female
female
female
female
4199
female
female
4202
female
4204
female
female
4207
4208
4209
female
4211
female
female
4214
4215
4216
4217
4218
female
4220
4221
4222
4223
female
4225
female
4227
4228
female
4230
4231
female
female
female
female
female
4237
4238
4239
4240
female
female
female
4244
4245
4246
4247
female
female
4250
female
female
4253
4254
4255
female
female
female
female
4260
4261
4262
female
female
4265
4266
female
4268
4269
female
female
4272
female
4274
female
female
female
female
4279
4280
4281
female
4283
female
4285
4286
female
4288
female
female
female
female
female
female
4295
female
female
4298
female
female
4301
4302
female
female
female
4306
female
4308
female
4310
female
4312
female
4314
female
4316
female
4318
4319
4320
female
female
female
4324
4325
4326
female
female
female
4330
4331
female
4333
female
female
female
female
4338
4339
4340
4341
female
female
female
4345
female
female
female
4349
4350
female
4352
female
4354
female
female
female
4358
female
4360
4361
female
female
female
4365
4366
4367
female
4369
female
4371
4372
female
4374
4375
female
female
female
female
female
female
female
4383
female
4385
4386
4387
female
4389
4390
female
4392
female
4394
female
4396
female
4398
female
female
female
4402
female
4404
4405
female
4407
female
4409
female
female
4412
female
female
4415
female
4417
4418
female
4420
4421
4422
4423
4424
4425
female
female
4428
female
female
female
4432
female
female
4435
female
4437
4438
4439
4440
4441
4442
female
female
female
4446
4447
female
female
4450
4451
female
4453
4454
female
female
4457
4458
female
4460
4461
female
4463
4464
4465
4466
female
female
4469
4470
4471
4472
female
4474
female
female
4477
female
female
female
4481
female
4483
4484
4485
female
4487
female
female
female
4491
4492
female
4494
female
female
4497
female
female
4500
female
4502
female
4504
female
4506
female
female
female
female
4511
female
female
female
female
4516
female
4518
female
4520
female
4522
4523
4524
4525
4526
female
female
4529
female
4531
female
female
4534
female
4536
4537
female
4539
4540
female
female
4543
4544
female
female
4547
female
female
female
4551
female
4553
4554
4555
4556
4557
female
4559
4560
female
female
female
4564
female
4566
4567
4568
female
4570
female
female
4573
female
4575
4576
female
female
4579
female
4581
4582
female
4584
female
female
female
female
female
female
female
female
female
female
female
4596
female
4598
female
4600
4601
female
4603
4604
4605
female
4607
4608
4609
4610
female
female
female
4614
female
4616
female
4618
4619
4620
female
4622
4623
4624
female
female
4627
female
female
4630
4631
female
female
female
female
4636
4637
female
4639
4640
female
4642
4643
4644
female
female
4647
4648
4649
female
female
female
female
female
female
female
4657
female
female
female
female
4662
female
female
female
female
female
female
4669
female
female
4672
female
4674
4675
4676
4677
female
female
4680
4681
female
4683
4684
female
female
4687
female
female
4690
female
female
4693
4694
female
female
4697
female
female
female
4701
4702
4703
4704
4705
female
4707
female
female
female
4711
4712
4713
female
female
female
4717
female
4719
4720
4721
female
4723
female
4725
female
4727
4728
female
4730
4731
female
4733
4734
4735
female
female
4738
female
4740
female
4742
4743
4744
female
4746
4747
4748
4749
4750
4751
4752
female
4754
4755
4756
4757
female
4759
4760
4761
4762
female
4764
4765
female
4767
4768
4769
female
female
female
4773
female
female
female
female
4778
female
4780
4781
4782
female
female
4785
4786
female
4788
female
female
4791
female
4793
4794
female
female
4797
female
female
4800
female
female
4803
female
4805
4806
female
female
female
female
female
female
female
female
4815
female
female
4818
4819
female
4821
4822
4823
4824
4825
female
female
female
female
4830
female
4832
female
4834
4835
female
female
female
4839
female
female
4842
4843
female
4845
4846
female
female
4849
female
female
4852
female
4854
4855
female
female
4858
4859
4860
female
female
4863
4864
female
female
4867
female
4869
4870
4871
female
female
female
female
4876
female
4878
female
4880
4881
female
4883
female
4885
female
female
4888
4889
4890
4891
4892
4893
4894
female
4896
4897
female
female
4900
female
female
female
female
female
female
female
female
4909
female
4911
4912
4913
female
female
female
female
4918
4919
female
female
female
female
female
4925
4926
4927
female
4929
female
4931
4932
female
female
4935
female
female
4938
4939
4940
4941
4942
female
4944
4945
4946
4947
female
4949
female
4951
4952
female
4954
4955
female
4957
female
female
4960
4961
female
4963
female
female
4966
female
female
female
4970
female
female
4973
4974
4975
4976
4977
female
female
female
4981
female
female
female
female
female
4987
female
female
female
female
4992
4993
female
female
female
4997
4998
female
5000
5001
female
5003
female
female
female
5007
female
5009
female
female
female
5013
5014
female
female
female
female
5019
female
female
5022
female
5024
5025
5026
5027
female
female
5030
5031
female
female
female
5035
female
female
female
female
5040
5041
5042
5043
5044
female
female
5047
female
female
5050
5051
5052
female
female
female
female
5057
female
female
female
female
female
5063
5064
5065
5066
female
female
female
5070
5071
5072
female
female
female
female
female
female
5079
5080
5081
5082
female
female
5085
5086
female
female
5089
5090
5091
female
5093
female
female
5096
5097
5098
female
female
5101
female
female
female
female
female
female
female
5109
female
5111
female
female
female
5115
5116
female
female
female
5120
5121
female
female
female
female
5126
5127
female
female
5130
female
5132
5133
5134
female
5136
5137
5138
5139
5140
5141
female
female
female
5145
5146
5147
5148
female
female
female
female
5153
female
female
5156
female
5158
5159
female
5161
5162
5163
female
5165
5166
female
5168
5169
female
female
5172
5173
female
female
female
5177
female
5179
female
5181
5182
female
female
female
female
female
5188
5189
5190
female
5192
female
5194
5195
female
female
female
female
female
5201
5202
5203
5204
female
5206
female
female
5209
5210
female
5212
female
female
female
female
female
5218
5219
female
female
female
5223
female
5225
5226
5227
5228
female
5230
5231
5232
female
female
5235
5236
female
female
5239
female
5241
5242
5243
female
female
female
female
female
5249
5250
female
5252
5253
5254
female
5256
5257
5258
5259
female
5261
female
5263
5264
female
5266
5267
5268
5269
5270
5271
female
female
female
5275
5276
female
female
5279
female
female
female
female
female
female
5286
5287
female
female
female
female
5292
5293
female
female
female
female
female
female
female
5301
female
5303
5304
female
5306
5307
female
female
5310
female
5312
5313
female
5315
5316
female
female
female
5320
female
female
female
5324
5325
5326
female
female
female
5330
5331
female
female
female
female
5336
5337
female
5339
female
female
female
female
5344
5345
5346
5347
5348
5349
5350
female
5352
5353
female
5355
female
5357
5358
female
5360
female
5362
5363
5364
5365
female
female
female

In [50]:
df.head()

   customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG      1              0  ...          29.85        29.85     No
1  5575-GNVDE      0              0  ...          56.95       1889.5     No
2  3668-QPYBK      0              0  ...          53.85       108.15    Yes
3  7795-CFOCW      0              0  ...          42.30      1840.75     No
4  9237-HQITU      1              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [51]:
df1 = df.copy()
df1.drop(columns='customerID')

     gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0         1              0     Yes  ...          29.85         29.85    No
1         0              0      No  ...          56.95        1889.5    No
2         0              0      No  ...          53.85        108.15   Yes
3         0              0      No  ...          42.30       1840.75    No
4         1              0      No  ...          70.70        151.65   Yes
...     ...            ...     ...  ...            ...           ...   ...
7038      0              0     Yes  ...          84.80        1990.5    No
7039      1              0     Yes  ...         103.20        7362.9    No
7040      1              0     Yes  ...          29.60        346.45    No
7041      0              1     Yes  ...          74.40         306.6   Yes
7042      0              0      No  ...         105.65        6844.5    No

[7043 rows x 20 columns]

In [52]:
enc = ce.OneHotEncoder(use_cat_names=True)
enc

OneHotEncoder(cols=None, drop_invariant=False, handle_missing='value',
              handle_unknown='value', return_df=True, use_cat_names=True,
              verbose=0)

In [53]:
gender = enc.fit_transform(df1['gender'])
gender

      gender_1.0  gender_0.0
0              1           0
1              0           1
2              0           1
3              0           1
4              1           0
...          ...         ...
7038           0           1
7039           1           0
7040           1           0
7041           0           1
7042           0           1

[7043 rows x 2 columns]

In [56]:
gender_enc = gender['gender_0.0']

In [54]:
enc = ce.OneHotEncoder(use_cat_names=True)
partner = enc.fit_transform(df1['Partner'])
partner = partner['Partner_Yes']

In [59]:
enc = ce.OneHotEncoder(use_cat_names=True)
dependents = enc.fit_transform(df1['Dependents'])
dependents = dependents['Dependents_Yes']
dependents

0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    1
7041    0
7042    0
Name: Dependents_Yes, Length: 7043, dtype: int64

In [61]:
enc = ce.OneHotEncoder(use_cat_names=True)
phone = enc.fit_transform(df1['PhoneService'])
phone

      PhoneService_No  PhoneService_Yes
0                   1                 0
1                   0                 1
2                   0                 1
3                   1                 0
4                   0                 1
...               ...               ...
7038                0                 1
7039                0                 1
7040                1                 0
7041                0                 1
7042                0                 1

[7043 rows x 2 columns]

In [62]:
phone = phone['PhoneService_Yes']

In [64]:
enc = ce.OneHotEncoder(use_cat_names=True)
lines = enc.fit_transform(df1['MultipleLines'])
lines

      MultipleLines_No phone service  MultipleLines_No  MultipleLines_Yes
0                                  1                 0                  0
1                                  0                 1                  0
2                                  0                 1                  0
3                                  1                 0                  0
4                                  0                 1                  0
...                              ...               ...                ...
7038                               0                 0                  1
7039                               0                 0                  1
7040                               1                 0                  0
7041                               0                 0                  1
7042                               0                 1                  0

[7043 rows x 3 columns]

In [66]:
lines = lines['MultipleLines_Yes']

In [68]:
enc = ce.OneHotEncoder(use_cat_names=True)
internet = enc.fit_transform(df1['InternetService'])
internet

      InternetService_DSL  InternetService_Fiber optic  InternetService_No
0                       1                            0                   0
1                       1                            0                   0
2                       1                            0                   0
3                       1                            0                   0
4                       0                            1                   0
...                   ...                          ...                 ...
7038                    1                            0                   0
7039                    0                            1                   0
7040                    1                            0                   0
7041                    0                            1                   0
7042                    0                            1                   0

[7043 rows x 3 columns]

In [69]:
dsl = internet['InternetService_DSL']
optic = internet['InternetService_Fiber optic']
none = internet['InternetService_No']

In [71]:
enc = ce.OneHotEncoder(use_cat_names=True)
security = enc.fit_transform(df1['OnlineSecurity'])
security

      OnlineSecurity_No  OnlineSecurity_Yes  OnlineSecurity_No internet service
0                     1                   0                                   0
1                     0                   1                                   0
2                     0                   1                                   0
3                     0                   1                                   0
4                     1                   0                                   0
...                 ...                 ...                                 ...
7038                  0                   1                                   0
7039                  1                   0                                   0
7040                  0                   1                                   0
7041                  1                   0                                   0
7042                  0                   1                                   0

[7043 rows x 3 columns]

In [72]:
security = security['OnlineSecurity_Yes']

In [74]:
enc = ce.OneHotEncoder(use_cat_names=True)
backup = enc.fit_transform(df1['OnlineBackup'])
backup

      OnlineBackup_Yes  OnlineBackup_No  OnlineBackup_No internet service
0                    1                0                                 0
1                    0                1                                 0
2                    1                0                                 0
3                    0                1                                 0
4                    0                1                                 0
...                ...              ...                               ...
7038                 0                1                                 0
7039                 1                0                                 0
7040                 0                1                                 0
7041                 0                1                                 0
7042                 0                1                                 0

[7043 rows x 3 columns]

In [75]:
backup = backup['OnlineBackup_Yes']

In [77]:
enc = ce.OneHotEncoder(use_cat_names=True)
protection = enc.fit_transform(df1['DeviceProtection'])
protection

      DeviceProtection_No  ...  DeviceProtection_No internet service
0                       1  ...                                     0
1                       0  ...                                     0
2                       1  ...                                     0
3                       0  ...                                     0
4                       1  ...                                     0
...                   ...  ...                                   ...
7038                    0  ...                                     0
7039                    0  ...                                     0
7040                    1  ...                                     0
7041                    1  ...                                     0
7042                    0  ...                                     0

[7043 rows x 3 columns]

In [78]:
protection = protection['DeviceProtection_Yes']

In [80]:
enc = ce.OneHotEncoder(use_cat_names=True)
support = enc.fit_transform(df1['TechSupport'])
support

      TechSupport_No  TechSupport_Yes  TechSupport_No internet service
0                  1                0                                0
1                  1                0                                0
2                  1                0                                0
3                  0                1                                0
4                  1                0                                0
...              ...              ...                              ...
7038               0                1                                0
7039               1                0                                0
7040               1                0                                0
7041               1                0                                0
7042               0                1                                0

[7043 rows x 3 columns]

In [81]:
support = support['TechSupport_Yes']

In [83]:
enc = ce.OneHotEncoder(use_cat_names=True)
streaming = enc.fit_transform(df1['StreamingTV'])
streaming

      StreamingTV_No  StreamingTV_Yes  StreamingTV_No internet service
0                  1                0                                0
1                  1                0                                0
2                  1                0                                0
3                  1                0                                0
4                  1                0                                0
...              ...              ...                              ...
7038               0                1                                0
7039               0                1                                0
7040               1                0                                0
7041               1                0                                0
7042               0                1                                0

[7043 rows x 3 columns]

In [84]:
streaming = streaming['StreamingTV_Yes']

In [86]:
enc = ce.OneHotEncoder(use_cat_names=True)
movies = enc.fit_transform(df1['StreamingMovies'])
movies

      StreamingMovies_No  ...  StreamingMovies_No internet service
0                      1  ...                                    0
1                      1  ...                                    0
2                      1  ...                                    0
3                      1  ...                                    0
4                      1  ...                                    0
...                  ...  ...                                  ...
7038                   0  ...                                    0
7039                   0  ...                                    0
7040                   1  ...                                    0
7041                   1  ...                                    0
7042                   0  ...                                    0

[7043 rows x 3 columns]

In [87]:
movies = movies['StreamingMovies_Yes']

In [89]:
enc = ce.OneHotEncoder(use_cat_names=True)
contract = enc.fit_transform(df1['Contract'])
contract

      Contract_Month-to-month  Contract_One year  Contract_Two year
0                           1                  0                  0
1                           0                  1                  0
2                           1                  0                  0
3                           0                  1                  0
4                           1                  0                  0
...                       ...                ...                ...
7038                        0                  1                  0
7039                        0                  1                  0
7040                        1                  0                  0
7041                        1                  0                  0
7042                        0                  0                  1

[7043 rows x 3 columns]

In [90]:
contract = contract['Contract_Month-to-month']

In [92]:
enc = ce.OneHotEncoder(use_cat_names=True)
paperless = enc.fit_transform(df1['PaperlessBilling'])
paperless

      PaperlessBilling_Yes  PaperlessBilling_No
0                        1                    0
1                        0                    1
2                        1                    0
3                        0                    1
4                        1                    0
...                    ...                  ...
7038                     1                    0
7039                     1                    0
7040                     1                    0
7041                     1                    0
7042                     1                    0

[7043 rows x 2 columns]

In [93]:
paperless = paperless['PaperlessBilling_Yes']

In [95]:
enc = ce.OneHotEncoder(use_cat_names=True)
churn = enc.fit_transform(df1['Churn'])
churn

      Churn_No  Churn_Yes
0            1          0
1            1          0
2            0          1
3            1          0
4            0          1
...        ...        ...
7038         1          0
7039         1          0
7040         1          0
7041         0          1
7042         1          0

[7043 rows x 2 columns]

In [96]:
churn = churn['Churn_Yes']

In [97]:
df1['gender'] = gend_enc
df1['Partner'] = partner
df1['Dependents'] = dependents
df1['PhoneService'] = phone
df1['MultipleLines'] = lines
df1['InternetService'] = none
df1['OnlineSecurity'] = security
df1['OnlineBackup'] = backup
df1['DeviceProtection'] = protection
df1['TechSupport'] = support
df1['StreamingTV'] = streaming
df1['StreamingMovies'] = movies
df1['Contract'] = contract # month to month or not
df1['PaperlessBilling'] = paperless
df1['Churn'] = churn



df1.head()

   customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges  Churn
0  7590-VHVEG       0              0  ...           29.85         29.85      0
1  5575-GNVDE       1              0  ...           56.95        1889.5      0
2  3668-QPYBK       1              0  ...           53.85        108.15      1
3  7795-CFOCW       1              0  ...           42.30       1840.75      0
4  9237-HQITU       0              0  ...           70.70        151.65      1

[5 rows x 21 columns]

In [98]:
df1.describe()

            gender  SeniorCitizen  ...  MonthlyCharges        Churn
count  7043.000000    7043.000000  ...     7043.000000  7043.000000
mean      0.504756       0.162147  ...       64.761692     0.265370
std       0.500013       0.368612  ...       30.090047     0.441561
min       0.000000       0.000000  ...       18.250000     0.000000
25%       0.000000       0.000000  ...       35.500000     0.000000
50%       1.000000       0.000000  ...       70.350000     0.000000
75%       1.000000       0.000000  ...       89.850000     1.000000
max       1.000000       1.000000  ...      118.750000     1.000000

[8 rows x 18 columns]

# Create and fit a baseline Keras MLP model to the data.

In [99]:
df1.shape

(7043, 21)

In [120]:
y = df1['Churn']
X = df1.drop(columns=['Churn', 'customerID', 'PaymentMethod'])

In [121]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)
X_train.head()

      gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges
248        1              0  ...           48.55         48.55
3594       0              0  ...           40.75         359.4
3846       0              0  ...           45.45        411.75
4881       1              0  ...           76.55        2065.4
148        1              0  ...           64.50       1929.95

[5 rows x 18 columns]

In [122]:
X_train = np.asarray(X_train.values)
y_train = np.asarray(y_train.values)
X_test = np.asarray(X_test.values)
y_test = np.asarray(y_test.values)

In [123]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
print(X_train[:10])

[[ 0.98940648 -0.43803705 -0.97199303 -0.65570515 -1.27333258  0.32891113
  -0.85366923 -0.52903004  1.58576796 -0.72155927 -0.73011042 -0.63335929
  -0.79088868 -0.79355955  0.9047611   0.83118972 -0.53388826 -0.98130154]
 [-1.01070694 -0.43803705 -0.97199303 -0.65570515 -0.94736037 -3.04033491
  -0.85366923 -0.52903004 -0.63060929  1.38588755 -0.73011042 -0.63335929
  -0.79088868  1.26014487  0.9047611  -1.20309476 -0.79265959 -0.84363692]
 [-1.01070694 -0.43803705  1.02881396  1.52507572 -0.9881069   0.32891113
  -0.85366923 -0.52903004 -0.63060929 -0.72155927 -0.73011042 -0.63335929
  -0.79088868 -0.79355955  0.9047611   0.83118972 -0.63673328 -0.82045293]
 [ 0.98940648 -0.43803705  1.02881396 -0.65570515 -0.17317636  0.32891113
  -0.85366923 -0.52903004 -0.63060929 -0.72155927 -0.73011042  1.57888265
  -0.79088868 -0.79355955  0.9047611  -1.20309476  0.39503447 -0.08810906]
 [ 0.98940648 -0.43803705 -0.97199303  1.52507572 -0.0916833   0.32891113
  -0.85366923 -0.52903004 -0.63060929  1.38588755  1.36965584 -0.63335929
   1.26440045 -0.79355955 -1.10526415 -1.20309476 -0.00473406 -0.14809514]
 [-1.01070694 -0.43803705  1.02881396  1.52507572  1.45668472  0.32891113
   1.1714139  -0.52903004  1.58576796  1.38588755  1.36965584 -0.63335929
   1.26440045 -0.79355955 -1.10526415  0.83118972  0.27726034  1.28370987]
 [-1.01070694 -0.43803705 -0.97199303 -0.65570515  0.43802155  0.32891113
   1.1714139  -0.52903004 -0.63060929  1.38588755  1.36965584  1.57888265
   1.26440045  1.26014487 -1.10526415 -1.20309476  0.67868766  0.61908007]
 [-1.01070694 -0.43803705  1.02881396  1.52507572 -0.86586731  0.32891113
   1.1714139   1.89025182 -0.63060929 -0.72155927 -0.73011042 -0.63335929
  -0.79088868 -0.79355955 -1.10526415 -1.20309476 -1.31517863 -0.8696331 ]
 [-1.01070694 -0.43803705 -0.97199303 -0.65570515  0.64175418  0.32891113
  -0.85366923 -0.52903004  1.58576796  1.38588755 -0.73011042 -0.63335929
  -0.79088868 -0.79355955 -1.10526415 -1.20309476 -0.30331637  0.16075898]
 [ 0.98940648 -0.43803705 -0.97199303 -0.65570515 -0.86586731  0.32891113
  -0.85366923 -0.52903004 -0.63060929 -0.72155927 -0.73011042 -0.63335929
  -0.79088868 -0.79355955  0.9047611  -1.20309476  0.18436807 -0.66620302]]

In [136]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import numpy as np

# Important Hyperparameters
inputs = X_train.shape[1]
epochs = 75
batch_size = 10


# Create Model
model = Sequential()
model.add(Dense(8, activation='relu', input_shape=(inputs,)))
model.add(Dense(8, activation='relu')),
model.add(Dense(8, activation='relu')),
model.add(Dense(8, activation='relu')),
model.add(Dense(1))

# Compile Model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])

# Fit Model
model.fit(X_train, y_train, 
          validation_data=(X_test,y_test), 
          epochs=epochs, 
          batch_size=batch_size
         )

Epoch 1/75
564/564 [==============================] - 1s 2ms/step - loss: 0.6425 - acc: 0.7270 - val_loss: 0.5062 - val_acc: 0.7559
Epoch 2/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4699 - acc: 0.7733 - val_loss: 0.4505 - val_acc: 0.7857
Epoch 3/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4458 - acc: 0.7925 - val_loss: 0.4383 - val_acc: 0.7963
Epoch 4/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4417 - acc: 0.7957 - val_loss: 0.4347 - val_acc: 0.8034
Epoch 5/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4448 - acc: 0.7952 - val_loss: 0.4389 - val_acc: 0.7999
Epoch 6/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4359 - acc: 0.7952 - val_loss: 0.4323 - val_acc: 0.8091
Epoch 7/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4390 - acc: 0.8021 - val_loss: 0.4320 - val_acc: 0.8091
Epoch 8/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4320 - acc: 0.7984 - val_loss: 0.4306 - val_acc: 0.8091
Epoch 9/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4308 - acc: 0.8000 - val_loss: 0.4263 - val_acc: 0.8141
Epoch 10/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4272 - acc: 0.8019 - val_loss: 0.4258 - val_acc: 0.8084
Epoch 11/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4256 - acc: 0.8001 - val_loss: 0.4222 - val_acc: 0.8084
Epoch 12/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4242 - acc: 0.7985 - val_loss: 0.4228 - val_acc: 0.8126
Epoch 13/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4213 - acc: 0.8023 - val_loss: 0.4216 - val_acc: 0.8148
Epoch 14/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4184 - acc: 0.8032 - val_loss: 0.4228 - val_acc: 0.8091
Epoch 15/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4427 - acc: 0.7886 - val_loss: 0.4287 - val_acc: 0.8091
Epoch 16/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4239 - acc: 0.7955 - val_loss: 0.4264 - val_acc: 0.8077
Epoch 17/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4221 - acc: 0.7998 - val_loss: 0.4229 - val_acc: 0.8105
Epoch 18/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4206 - acc: 0.8032 - val_loss: 0.4230 - val_acc: 0.8098
Epoch 19/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4177 - acc: 0.7969 - val_loss: 0.4196 - val_acc: 0.8105
Epoch 20/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4417 - acc: 0.7872 - val_loss: 0.4242 - val_acc: 0.8112
Epoch 21/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4179 - acc: 0.8009 - val_loss: 0.4247 - val_acc: 0.8091
Epoch 22/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4163 - acc: 0.8037 - val_loss: 0.4227 - val_acc: 0.8126
Epoch 23/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4162 - acc: 0.8014 - val_loss: 0.4231 - val_acc: 0.8062
Epoch 24/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4156 - acc: 0.8042 - val_loss: 0.4209 - val_acc: 0.8048
Epoch 25/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4149 - acc: 0.8037 - val_loss: 0.4204 - val_acc: 0.8077
Epoch 26/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4146 - acc: 0.8039 - val_loss: 0.4194 - val_acc: 0.8105
Epoch 27/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4142 - acc: 0.8037 - val_loss: 0.4251 - val_acc: 0.8091
Epoch 28/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4139 - acc: 0.8012 - val_loss: 0.4321 - val_acc: 0.8070
Epoch 29/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4182 - acc: 0.8067 - val_loss: 0.4282 - val_acc: 0.8020
Epoch 30/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4143 - acc: 0.8030 - val_loss: 0.4221 - val_acc: 0.8055
Epoch 31/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4166 - acc: 0.8055 - val_loss: 0.4266 - val_acc: 0.8091
Epoch 32/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4303 - acc: 0.8032 - val_loss: 0.4318 - val_acc: 0.8062
Epoch 33/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4265 - acc: 0.8040 - val_loss: 0.4182 - val_acc: 0.8077
Epoch 34/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4191 - acc: 0.8033 - val_loss: 0.4279 - val_acc: 0.8091
Epoch 35/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4147 - acc: 0.8026 - val_loss: 0.4178 - val_acc: 0.8098
Epoch 36/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4137 - acc: 0.8049 - val_loss: 0.4266 - val_acc: 0.8027
Epoch 37/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4102 - acc: 0.8012 - val_loss: 0.4306 - val_acc: 0.8041
Epoch 38/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4118 - acc: 0.8062 - val_loss: 0.4231 - val_acc: 0.8013
Epoch 39/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4120 - acc: 0.8064 - val_loss: 0.4192 - val_acc: 0.8133
Epoch 40/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4100 - acc: 0.8058 - val_loss: 0.4350 - val_acc: 0.8020
Epoch 41/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4107 - acc: 0.8024 - val_loss: 0.4341 - val_acc: 0.8070
Epoch 42/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4129 - acc: 0.8071 - val_loss: 0.4221 - val_acc: 0.8070
Epoch 43/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4086 - acc: 0.8078 - val_loss: 0.4313 - val_acc: 0.8133
Epoch 44/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4090 - acc: 0.8064 - val_loss: 0.4266 - val_acc: 0.8055
Epoch 45/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4089 - acc: 0.8062 - val_loss: 0.4260 - val_acc: 0.8013
Epoch 46/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4083 - acc: 0.8069 - val_loss: 0.4256 - val_acc: 0.8070
Epoch 47/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4202 - acc: 0.8035 - val_loss: 0.4193 - val_acc: 0.8112
Epoch 48/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4074 - acc: 0.8055 - val_loss: 0.4267 - val_acc: 0.8070
Epoch 49/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4081 - acc: 0.8087 - val_loss: 0.4243 - val_acc: 0.8055
Epoch 50/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4386 - acc: 0.7812 - val_loss: 0.4293 - val_acc: 0.8062
Epoch 51/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4140 - acc: 0.7996 - val_loss: 0.4244 - val_acc: 0.8112
Epoch 52/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4066 - acc: 0.8042 - val_loss: 0.4237 - val_acc: 0.8084
Epoch 53/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4079 - acc: 0.8053 - val_loss: 0.4209 - val_acc: 0.8070
Epoch 54/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4044 - acc: 0.8078 - val_loss: 0.4263 - val_acc: 0.8112
Epoch 55/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4043 - acc: 0.8080 - val_loss: 0.4206 - val_acc: 0.8112
Epoch 56/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4066 - acc: 0.8083 - val_loss: 0.4246 - val_acc: 0.8112
Epoch 57/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4053 - acc: 0.8078 - val_loss: 0.4257 - val_acc: 0.8091
Epoch 58/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4104 - acc: 0.8037 - val_loss: 0.4234 - val_acc: 0.8091
Epoch 59/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4029 - acc: 0.8062 - val_loss: 0.4328 - val_acc: 0.8041
Epoch 60/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4069 - acc: 0.8071 - val_loss: 0.4262 - val_acc: 0.8126
Epoch 61/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4031 - acc: 0.8101 - val_loss: 0.4359 - val_acc: 0.8077
Epoch 62/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4021 - acc: 0.8072 - val_loss: 0.4228 - val_acc: 0.8126
Epoch 63/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4042 - acc: 0.8064 - val_loss: 0.4455 - val_acc: 0.7970
Epoch 64/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4014 - acc: 0.8088 - val_loss: 0.4267 - val_acc: 0.8070
Epoch 65/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4012 - acc: 0.8074 - val_loss: 0.4260 - val_acc: 0.8084
Epoch 66/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4026 - acc: 0.8069 - val_loss: 0.4346 - val_acc: 0.8048
Epoch 67/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4180 - acc: 0.8065 - val_loss: 0.4366 - val_acc: 0.8062
Epoch 68/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4047 - acc: 0.8090 - val_loss: 0.4427 - val_acc: 0.7956
Epoch 69/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4005 - acc: 0.8083 - val_loss: 0.4315 - val_acc: 0.8048
Epoch 70/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4112 - acc: 0.8083 - val_loss: 0.4421 - val_acc: 0.8041
Epoch 71/75
564/564 [==============================] - 1s 2ms/step - loss: 0.3987 - acc: 0.8117 - val_loss: 0.4261 - val_acc: 0.8048
Epoch 72/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4067 - acc: 0.8065 - val_loss: 0.4406 - val_acc: 0.8105
Epoch 73/75
564/564 [==============================] - 1s 2ms/step - loss: 0.3996 - acc: 0.8058 - val_loss: 0.4507 - val_acc: 0.8105
Epoch 74/75
564/564 [==============================] - 1s 2ms/step - loss: 0.4162 - acc: 0.8122 - val_loss: 0.4581 - val_acc: 0.7949
Epoch 75/75
564/564 [==============================] - 1s 1ms/step - loss: 0.4050 - acc: 0.8115 - val_loss: 0.4552 - val_acc: 0.8077

# tune these hyperparameters
- batch_size
- training epochs
- optimizer
- learning rate (if applicable to optimizer)
- momentum (if applicable to optimizer)
- activation functions
- network weight initialization
- dropout regularization
- number of neurons in the hidden layer

In [127]:
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

In [147]:
from tensorflow.keras.optimizers import Adam
# Function to create model, required for KerasClassifier
def create_model(lr):
  # Create optimizer
  adam = Adam(lr=lr)
    # create model
  model = Sequential()
  model.add(Dense(8, activation='relu', input_shape=(inputs,)))
  model.add(Dense(1))
    # Compile model
  model.compile(loss='binary_crossentropy', optimizer=adam, metrics=['accuracy'])
  return model

# create model
model = KerasClassifier(build_fn=create_model, verbose=0)

In [148]:
# define the grid search parameters
param_grid = {'batch_size': [2, 4, 8, 16, 32],
              'epochs': [10, 20, 30, 40, 50, 100, 200],
              'lr': [.001, .01, .1]}

# Create Grid Search
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1)
grid_result = grid.fit(X_train, y_train)

KeyboardInterrupt: ignored

In [143]:
# Report Results
print(f"Best: {grid_result.best_score_} using {grid_result.best_params_}")
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print(f"Means: {mean}, Stdev: {stdev} with: {param}")

Best: 0.7937557220458984 using {'batch_size': 2, 'epochs': 20}
Means: 0.7937557220458984, Stdev: 0.013819692511555837 with: {'batch_size': 2, 'epochs': 20}
Means: 0.7923357248306274, Stdev: 0.01326668134737322 with: {'batch_size': 4, 'epochs': 20}
Means: 0.7791975140571594, Stdev: 0.012780789643641896 with: {'batch_size': 8, 'epochs': 20}
Means: 0.7673045516014099, Stdev: 0.00897979144058996 with: {'batch_size': 16, 'epochs': 20}
Means: 0.7532806158065796, Stdev: 0.021102637293348752 with: {'batch_size': 32, 'epochs': 20}

## Stretch Goals:

- Try to implement Random Search Hyperparameter Tuning on this dataset
- Try to implement Bayesian Optimiation tuning on this dataset using hyperas or hyperopt (if you're brave)
- Practice hyperparameter tuning other datasets that we have looked at. How high can you get MNIST? Above 99%?
- Study for the Sprint Challenge
 - Can you implement both perceptron and MLP models from scratch with forward and backpropagation?
 - Can you implement both perceptron and MLP models in keras and tune their hyperparameters with cross validation?